*{box-sizing: border-box;}
body{background-color: blue;}
main{color: purple;background-color: skyblue;}
h1{color: white;}
a:link{color: purple; text-decoration: none; }
a:visited{color: green;text-decoration: none;}
a:active{color: red;text-decoration: none;}
img{float: right;}





@media screen and (max-width:480px){
    body{background-color: red;}
    img{float: none; width: 100%;}
}
@media screen and (max-width:320px){
    body{
        background-color: yellow; 
    }
}